.separator.separator--page-head
  .grid-container.grid-container--19
    h1.page-head
      | つくったもの
      span.small -products-

-for(let content of data.database.products)
  .separator.separator--content
    .grid-container.grid-container--19
      .content
        article.products-content
          .products-content__head
            h2.products-content-head #{content.head}
          ul.products-content__list
            -for(let item of content.items)
              li.products-content__item
                section.products-item
                  .products-item__left
                    .products-item__head
                      h2.products-item-head #{item.head}
                    .products-item__description
                      .products-item-description
                        p
                          +wrap-text(item.description)
                    //- if(item.url)
                    //-   .products-item__url
                    //-     .products-item-url
                    //-       a(href=item.url target='_blank' rel='noopener').hover #{item.url}
                    .procuts-item__detail
                      table.products-item-detail
                        -for(let detailItem of item.detailItems)
                          tr
                            th #{detailItem.head}
                            td
                              -
                                const isUrl = (text) => {
                                  try {
                                    const result = new URL(text);
                                    return true;
                                  } catch(e) {
                                    return false;
                                  }
                                }
                              if(isUrl(detailItem.data))
                                a(href=detailItem.data target='_blank' rel='noopener').hover #{detailItem.data}
                              else
                                +wrap-text(detailItem.data)
                  if(item.thumb)
                    .products-item__right
                      p.products-item-thumb
                        img(src=rootPath(item.thumb), alt="")
